<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container">
    <div class="col-md-5">

  <h2>SIGN UP</h2>
  
  <!-- <form action="/action_page.php" class="was-validated"> -->

    <div class="form-group">

      <label for="uname">Username:</label><br/>
      <input type="text" class="form-control" width="100px" id="uname" placeholder="Enter username" name="uname" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" width="100px" id="pwd" placeholder="Enter password" name="pswd" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>

    <div class="form-group">
        <label for="pwd">User Type</label><br/>
        <input type="checkbox" id="student" class="fadeIn fourth" name="student">  Student<br/>
        <input type="checkbox" id="admin" class="fadeIn fourth" name="admin">  Admin<br/>
        <input type="checkbox" id="cauch" class="fadeIn fourth" name="cauch">  Cauch<br/>
        <input type="checkbox" id="poolmanage" class="fadeIn fourth" name="poolmanager">  Pool Manager<br/>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>

        
    <button type="submit" class="btn btn-primary">Submit</button>
  <!-- </form> -->
</div>
<div class="col-md-7"></div>
</div>

</body>
</html>
