<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

    <form>
        <div>
          <h1>SIGNUP</h1>
        </div>
  
        <!-- form Div -->
        <div class="form-group">
          <label>ID card Number</label>
          <input type="text" class="form-control" id="id" placeholder="Enter Your ID card Number">
      
          <label>Full Name</label>
          <input type="text" class="form-control" id="fullname" placeholder="Enter Your Full Name">
  
          <label>Name With Initials</label>
          <input type="text" class="form-control" id="ininame" placeholder="Enter Your Name With Initials">
  
          <label>Address</label>
          <textarea class="form-control" id="address" rows="3"></textarea>
  
          <label>Dob</label>
          <input type="date" class="form-control" id="dob" placeholder="Enter Your Date Of Birth">
          <br/>
  
          <label class="btn btn-outline-dark">
              <input type="radio" name="gender" id="male" autocomplete="off"> Male
          </label>
          <label class="btn btn-outline-dark">
              <input type="radio" name="gender" id="female" autocomplete="off"> Female
          </label>
          <br/>
  
          <label>School</label>
          <input type="text" class="form-control" id="school" placeholder="Enter Your School Name">
  
          <label>Mobile Number</label>
          <input type="text" class="form-control" id="mobile" placeholder="Enter Mobile Number">
  
          <label>Fixed Telephone Number</label>
          <input type="text" class="form-control" id="fixed" placeholder="Enter Your Telephone Number">
      
          <label>User Type</label>
          Admin<input value="admin" type="checkbox" class="form-control" id="fixed">
          Cauch<input value="cauch" type="checkbox" class="form-control" id="fixed">
          PoolManager<input value="poolmanager" type="checkbox" class="form-control" id="fixed">
      

        </div>
        <!-- btn div -->
        <div> 
            <input class="btn btn-primary" type="submit" value="Submit">
            <input class="btn btn-danger" type="reset" value="Reset">
        </div>
      </form>
</body>
</html>